:root {
  --color-primary: #1a7474;
  --color-primary_dark: #135353;
  --color-primary_xtra_dark: #053838;
  --color-accent: #4f1fff;
  --color-accent_dark: #2300a3;
  --color-accent_xtra_dark: #160066;
  --color-danger: #c11e1e;
  --color-danger_dark: #7a1010;
  --color-danger_xtra_dark: #580c0c;
  --color-light: #ebebeb;
  --color-dark: #171926;
}
